body
{
 background-color:#505050;
 color:#555555;
 font-family: 'EB Garamond',serif;
 font-size:14px;
 margin:0;
 padding:0px;
}
    
p
{
 background-color:#ffffff;
 color:#555555;
 max-width:550px;
}
    
 /* ========== Container */
    
#container
{
 background-color:#ffffff;
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 margin-bottom:0px;
 max-width:750px;
 padding:0;
 width:85%;
}

 /* ========== Header */
    
#header
{
 max-width:750px;
 height:80px;
 overflow: hidden;
 background-color:#777777;
 position:relative;
}

#header h1
{
 background-color:#777777;
 color:#ffffff;
 float: left;
 font-size:32px;
 padding-left:50px;
}
   
 /* ========== Navbar */
    
#navbar
{
 background-color:#bbbbbb;
 color:#000000;
 height:21px;
 padding-left:50px;
 padding-top:1px;
}
    
#navbar a
{
 background-color:#bbbbbb;
 color:#000000;
 font-weight:normal;
 font-family: 'EB Garamond',serif;
 font-size:13px;
}
    
#navbar .current
{
 background-color:#bbbbbb;
 color:#888888;
 font-weight:normal;
 font-family: 'EB Garamond',serif;
 font-size:13px;
}
    
 /* ========== Content */
    
#content
{
 margin-left:50px;
 margin-top:50px;
 padding-bottom:40px;
}

#content a:hover
{
 text-decoration:none;
}

#content a:link
{
 background-color:#ffffff;
 color:#000000;
}

#content a:visited
{
 background-color:#ffffff;
 color:#000000;
}

#content h2
{
 background-color:#ffffff;
 color:#000000;
 font-size:21px;
 font-style:italic;
 font-weight:normal;
}
   
#content h3
{
 font-size:15px;
}

#content img
{
 padding-left:0;
 margin-left:0;
}

#content li
{
 font-size:14px;
 margin:0px;
 padding:0px 0px 1px 20px;
}

#content td
{
 font-size:12px;
 padding-left:20px;
}

#content ul
{
 font-size:0px;
 list-style-type:none;
 padding:0px;
 margin:0px;
}

 /* ========== Footer */
    
#footer
{
 background-color:#888888;
 color:#ffffff;
 font-style:italic;
 height:21px;
 padding-left:50px;
 padding-top:1px;
}
    
#footer a
{
 background-color:#888888;
 color:#ffffff;
 font-style:italic;
 font-weight:normal;
 font-family: 'EB Garamond',serif;
}

