@font-face {
 font-family:Garamond;
 src: url("./fonts/agpr_subset.otf") format("opentype");
}
@font-face {
 font-family:"Garamond Italic";
 font-style:italic;
 src: url("./fonts/agpi_subset.otf") format("opentype");
}
@font-face {
 font-family:'Cardo';
 font-style:normal;
 font-weight:400;
 src: local('Cardo'),
      local('Cardo-Regular'),
      url(https://fonts.gstatic.com/l/font?kit=UjiIFo5CDW99yG-0k79inAYS0JbSrlPpAcQAgKgKHWH1HvXlES81UXPmZpDdECMy-69iVRnGNYm5aggVh3xlWz1UZEmZdoo1J3RQbpcejgQ&skey=6e473b3c3fa37289&v=v8)
      format('woff2');
}
@font-face {
  font-family:'Cardo';
  font-style:italic;
  font-weight:400;
  src: local('Cardo Italic'),
       local('Cardo-Italic'),
       url(https://fonts.gstatic.com/l/font?kit=LtXPQw8t1H_8PlO6hCzAfyFTrk6uD5WweKEyyAIT3Lj0SGmKokOP2WdBqrbj1AQ55RA8htVOKoTC4wIMmGrJKqHRtl5r2wpxFuH0WyHXW48&skey=26bb5df469a255da&v=v8)
       format('woff2');
}

a:link,
a:visited {
 background-color:#30373f;
 color:#fff;
 text-decoration:none; }
a:hover {
 text-decoration:underline; }
body {
 background-color:#30373f;
 color:#f9d8ae;
 font-family:"Open Sans",sans-serif;
 font-size:13px;
 font-weight:400;
 margin:48px auto 80px;
 padding:0 60px 0;
 width:1040px; }
div#head {
 margin:0 auto;
 border-bottom:1px solid #f9d8ae;
 padding:0; }
div#pubs {
 float:left;
 margin:8px 0 80px; 
 padding:0;
 width:550px; }
div#about {
 float:right;
 margin:8px 0 80px; 
 padding:0;  
 width:400px; }
h1,h2,h3 {
 background-color:#30373f;
 color:#f9d8ae;
 font-weight:normal;
 padding:0; }
h1 {
 font-family:Garamond,Cardo,serif;
 font-size:42px;
 margin:0 0 5px; }
h2 {
 font-family:"Garamond Italic",Cardo,serif;
 font-size:24px;
 font-style:italic;
 margin:16px 0 10px; }
h3 {
 font-family:Garamond,Cardo,serif;
 font-size:14px;
 font-style:normal;
 margin:12px 0 10px;
 text-transform:uppercase; }
img {
 border:0;
 margin:24px 0 0;
 padding:0; }
input {
 background-color:#30373f;
 border:1px solid white;
 color:#fff;
 font-family:"Open Sans",sans-serif;
 font-size:13px;
 margin:0px 2px 0px;
 padding:2px 5px 2px; }               
li {
 margin:0 0 5px;
 padding:0; }
li.bigspread {
 line-height:1.5;
 margin:0 0 14px; }
p {
 background-color:#30373f;
 color:#f9d8ae;
 font-size:13px;
 line-height:1.5;
 margin:10px 0 15px;
 max-width:620px;
 padding:0; }
span {
 color:#f9d8ae; }
table {
 background-color:#30373f;
 color:#f9d8ae;
 font-size:12px;
 margin:50px 0 0;
 padding:0; }
td {
 background-color:#30373f;
 color:#f9d8ae;
 padding-right:60px;
 vertical-align:top; }
ul {
 list-style-type:none;
 margin:0 0 15px 40px;
 padding:0; }
ul.noindent {
 margin:12px 0 0; }

