a:link,
a:visited {
 background-color:#fff;
 color:#444;
 text-decoration:underline; }
a:hover {
 text-decoration:none; }
body {
 background-color:#fff;
 color:#444;
 font-family:"Lato", sans-serif;
 font-size:14px;
 font-weight:400;
 margin:40px auto 80px;
 padding:0;
 width:1000px; }
div#h {
 margin:0 auto;
 border-bottom:1px solid #bbb; }
div#l {
 float:left;
 margin:0 0 80px;
 padding:0 12px 0 0;
 width:550px; }
div#r {
 float:right;
 margin:0 0 80px;
 padding:0 0 12px 0;   
 width:370px; }
h1 {
 background-color:#fff;
 color:#000;
 font-family:"Lato", sans-serif;
 font-size:32px;
 font-weight:700; }
h2 {
 background-color:#fff;
 color:#000;
 font-family:"Lato", sans-serif;
 font-size:18px;
 font-weight:700;
 padding:10px 0 0; }
img {
 border:0;
 margin:0;
 padding:20px 0 10px; }                
li {
 line-height:1.5;
 margin:0px;
 padding:0 0 12px; }
p {
 background-color:#fff;
 color:#444;
 line-height:1.5;
 max-width:550px;
 padding:0 0 0; }
span {
 color:#000; }
ul {
 list-style-type:none;
 padding:0;
 margin:9px 0 0;
}

